<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- include(파일위치)를 통해, js를 붙일 수 있음 -->
    <%- include('nav.ejs') %>
    
    <div class="detail-bg">
        <h4><%= 상세글.title %></h4>
        <p><%= 상세글.content %></p>

        <!-- img 멤버변수 안의 내용물이 배열인지 여부에 따라 반복문 처리여부를 선택 -->
        <%  if( Array.isArray(상세글.img) ){
                <!-- 반복문을 통해 js변수 내부 객체배열의 값을 반복해서 만들어 낸 HTML 태그 -->
                for (var i = 0; i < 상세글.img.length; i++){ %>
                    <img src="<%= 상세글.img[i]%>">
        <%      } 
            } else { %>     

                <img src="<%= 상세글.img %>">
        <%  } %>   

        <!-- 채팅 거는 기능 -->
        <div>
            <button> <a href="/chat/request?writerId=<%= 상세글.user %>">채팅하기</a></button>
        </div>
        <!-- DB의 덧글 LIST들 -->
        <hr style="margin-top: 60px">
        <% for (let i = 0; i < 댓글.length; i++) { %>
            <p class="comments"><strong><%= 댓글[i].writer %></strong> <%= 댓글[i].content %></p>
        <% } %> 

        <!-- 덧글1. form 태그 형식으로 구현 -->
        <hr>
        <div>
            <p><strong>작성자</strong> 댓글내용</p>
        </div>
        <span>
            <form action="/comment/write/ver1" method="POST" style="display:inline-block">
                <input name="content">
                <input name="parentId" value="<%= 상세글._id %>" style="display: none">
                <button type="submit">댓글작성(form태그)</button>
            </form>
            <button class="ajax">댓글작성(ajax)</button>
        </span>
    </div> 
</body>
<script>

    // (과제) 덧글2. AJAX 형식으로 비동기 업뎃이 되도록 구현해봐라    
    document.querySelector('.ajax').addEventListener('click', async function(e){

        console.log('클릭 확인');

        // 사용자 ID를 상세조회시 서버로부터 가져온 값 대입
        const userId = '<%= 사용자ID %>';
        const parentId = document.querySelector("input[name='parentId']").value;
        const content = document.querySelector("input[name='content']").value;

        // 덧글 달 API에 보낼 내용 JS객체화
        const comment = { parentId : parentId ,
                          content : content  }

        // (중요!) await가 붙으면, 해당 함수 {}안의 해당 비동기코드가 응답이 돌아올떄까지 이를 기다려줌
        //  -> 그런 의미에서 fetch를 통한 API 호출은 async await를 사용시 반드시 await를 붙여줘야함.. 그래야 fetch가 끝날떄까지 기다려줌 
        let result = await fetch('/comment/write/ver2', {
                                                            method: 'POST',
                                                            headers: { 'Content-Type': 'application/json;charset=utf-8' },
                                                            // 덧글로 달 객체를 JS객체 -> JSON화 해서 POST전송
                                                            body: JSON.stringify(comment)
                                                        });
        let response = await result.text();
        
        // 덧글 달 위치를 잡기 위한 DOM탐색
        const existedComments = document.querySelectorAll('.comments');

        // 추가할 덧글 내용 ``과 ${} 기호를 통해 추가
        const addComment = `<p class="comments"><strong>${userId}</strong> ${content}</p>`

        // insertAdjacentHTML을 통해 최신 덧글 바로 뒤에 덧글 달기
        existedComments[existedComments.length - 1].insertAdjacentHTML('beforeend', addComment);
    });

</script>
</html>